<h3>Add an article</h3>
<hr>
<div ng-controller="HttpGetController">
	<form id="inputForm" ng-submit="updateData()">
		<label> <input id="articleNumber" type="text"
			name="articleNumber" x-ng-model="articleNumber"
			placeholder="Artikelnummer" required> <input x-ng-model="articleName" id="articleName"
			type="text" name="articleName" placeholder="Artikelname" required>

			<input x-ng-model="articleCost" id="articleCost" type="text" name="articleCost"
			placeholder="Einkaufspreis" required> <input
			x-ng-model="articlePrice" id="articlePrice" type="text" name="articlePrice"
			placeholder="Verkaufspreis" required> <br> <br> <input
			class="submit" type="submit" value="Submit" x-ng-click="SendData(); sendJson();" />
			{{ ResponseDetails }}
		</label>
	</form>
</div>